<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Colorir</title>
  <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet" type="text/css" />
</head>

<body>
  <ol id='Q2-box' onmouseout="colorir('white')">
    <li><a href='#' onmouseover="colorir('red')">Vermelho</a></li>
    <li><a href='#' onmouseover="colorir('green')">Verde</a></li>
    <li><a href='#' onmouseover="colorir('purple')">Roxo</a></li>
    <li><a href='#' onmouseover="colorir('orange')">Laranja</a></li>
  </ol>
  
  <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>
  
</html>