<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pagina Inicial</title>
</head>
<body>
  <ul>
    <li><a href="{{url_for('monica')}}">1 Monica</a></li>
    <li><a href="{{url_for('colorir')}}">2 Colorir</a></li>
    <li><a href="{{url_for('calculadora')}}">3 Caculadora</a></li>
    <li><a href="{{url_for('formas_geometricas')}}">4 Formas Geométricas</a></li>
    <li><a href="{{url_for('flores')}}">5 Galeria de Flores</a></li>
  </ul>
</body>
</html>
